.avatar {
  display: block;
  width: 150px;
  height: 165px;
  margin-left: auto;
  margin-right: auto;
}

.name,
.tag,
.location {
  font-size: 15px;
  text-align: center;
}

.stats {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
